---
import { ViewTransitions } from "astro:transitions";
const { title, description, image, type } = Astro.props;
---

<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
<meta name="generator" content={Astro.generator} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content="rsa16"/>

<meta property="og:title" content={title}/>
<meta property="og:image" content={image}/>
<meta property="og:site_name" content="Curry Muncher Translations"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:description" content={description} />
<meta property="og:type" content={type.name}/>

{type.name === 'article' && 
    <meta property="og:article:section" content={type.properties.section}/>
    <meta property="og:article:published_time" content={type.properties.published_time}/>
}

<ViewTransitions/>