---
import '@fontsource/alex-brush';
import '@fontsource/kaushan-script'
import '@fontsource-variable/raleway';
import '@fontsource-variable/montserrat'
import '@fontsource/kurale';

import CommonHead from "../components/CommonHead.astro";
import Header from "../components/Header.astro"

const { title, desc, large_image = false, image = "", type = { name: "website", properties: null } } = Astro.props;

const url = `https://currymunchertls.rsaaa.xyz${Astro.url.pathname}`;
---

<html transition:animate="none">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1">
        <meta property="og:url" content={url}/>
        
        <CommonHead 
            title={title} 
            description={desc} 
            image={image}
            large_image={true}
            type={type}
        />
    </head>

    <body transition:animate="none">
        <Header transition:animate="none"/>

        <video id="gradient-bg" autoplay loop muted playsinline transition:animate="none" transition:name="media-player" transition:persist poster="/preload_bg.png">
            <source src="/video/gradient_bg.mp4" type="video/mp4"/>
        </video>
        <div transition:animate="none" transition:name="gradient-player" transition:persist id="gradient-overlay"></div>

        <slot/>
    </body>

    <style>
        body {
            margin: 0;
            background: transparent;
        }
    
        #gradient-bg {
            position: fixed;
            left: 0;
            top: 0;
            min-width: 100%;
            height: 100%;
            z-index: -3;
            object-fit: cover;
        }

        #gradient-overlay {
            position: fixed ;
            left: 0;
            top: 0;
            min-width: 100%;
            height: 100vh;
            background-color: rgba(73, 9, 9, 0.3);
            background-image: initial;
            z-index: -2;
        }

        @media only screen and (max-width: 768px) {
            body, html {
                overflow-x: hidden;
            }
        }
    </style>
</html>

<script is:inline>
    document.addEventListener('astro:after-swap', () => {
        function sendMessage(message) {
            const iframe = document.querySelector('iframe.giscus-frame');
            if (!iframe.contentWindow) return;
            iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
        }
        
        setTimeout(() => {
            sendMessage({
                setConfig: {
                    term: window.location.pathname.substr(1)
                }
            })
        }, 1000)
    });

    document.addEventListener('astro:page-load', () => {
        let giscus_comments = document.querySelector(".giscus_comments")
        if (!giscus_comments) return;

        let giscusAttributes = {
            "src": "https://giscus.app/client.js",
            "data-repo": "rsa16/curry-muncher-site",
            "data-repo-id": "R_kgDOMcBIrw",
            "data-category": "Announcements",
            "data-category-id": "DIC_kwDOMcBIr84Ch7SM",
            "data-mapping": "pathname",
            "data-strict": "1",
            "data-reactions-enabled": "1",
            "data-emit-metadata": "0",
            "data-input-position": "top",
            "data-theme": "dark",
            "data-lang": "en",
            "crossorigin": "anonymous",
        }

        let giscusScript = document.createElement("script");
        Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        giscus_comments.appendChild(giscusScript);
    })
</script>